<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div class="container my-2">
        <h1>Material Cart Number</h1>

<!--         <a th:href="@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee </a> -->
		<br></br>
	
		
		<form th:action="@{/s}">
		<div>Search <input type="text" name="Keyword" th:value="${Keyword}" required></div>
		<input type ="submit" value ="Search">
		<input type ="button" value ="Clear" onclick="clearfilter()">
		
		</form>
		</div>
		
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>CARTNUMBER</th>
                    <th>CONTAINERID</th>
                    <th>DATEPRODUCED</th>
                    <th>TIMEPRODUCED</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="material : ${listmaterial}">
                    <td th:text="${material.cartnumber}"></td>
                    <td th:text="${material.containerid}"></td>
                    <td th:text="${material.dateproduced}"></td>
                    <td th:text="${material.timeproduced}"></td>
                   
                </tr>
            </tbody>
        </table>
      
      
        
     <div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Total Rows: [[${totalItems}]]
        </div>
        <div class="col-sm-12">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
        </div>
        <div class="col-sm-2">
            <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-2">
            <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
    </div>
   
    <script type="text/javascript">
   function clearfilter(){
   window.location='/';
    }
    </script>
    
</body>
</html>